# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias cd..="cd .."

# Safe file operations (verbose + confirm on rm)
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

# System
alias hosts='sudo $EDITOR /etc/hosts'

# Grep with color
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# ls
export CLICOLOR=1
export CLICOLOR_FORCE=1
alias ls='ls -AFh -G'
alias la='ls -al'
alias lsd='ls -l | grep "^d"'  # only directories

# Disk
alias diskspace="df -P -kHl"

# File size
alias fs="stat -f \"%z bytes\""

# Networking
alias ip="curl -s ifconfig.me"
alias localip="ipconfig getifaddr en0"

# Git shortcuts (supplement oh-my-zsh git plugin)
alias gs='git status'
alias gd='git diff'
alias gl='git log --oneline -20'

# Quick edit configs
alias zshrc='$EDITOR ~/.zshrc'
alias aliases='$EDITOR ~/.aliases'
